.appointmentFormCont {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    background: #F9F9F9;
    border: 1px solid #E1E1E6;
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.appointmentFormHeading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #323238;
    padding-left: 20px;
    padding-right: 20px;
}

.appointmentFormLabelName,
.appointmentFormLabelEmail,
.appointmentFormLabelContact,
.appointmentFormLabelTime,
.appointmentFormLabelDate,
.appointmentFormLabelMessage {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #323238;
}

.appointmentFormInputField {
    background: #FFFFFF;
    border: 1px solid #E1E1E6;
    border-radius: 2px;
    padding: 8px 16px;
    gap: 10px;
}

.appointmentFormInputField:focus,
.appointmentFormInputField:hover {
    border: 1px solid #6D0E9D;
}

.appointmentCancelBtn {
    gap: 32px;
    width: 100px;
    height: 50px;
    background: #F9F9F9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #323238;
    border: 1px solid #660099;
    border-radius: 5px;
}

.appointmentCancelBtn:hover {
    background-color: #660099;
    color: #FFFFFF;
}

.appointmentSubmitBtn {
    gap: 32px;
    width: 100px;
    height: 50px;
    background: #660099;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #660099;
    float: right;
    border-radius: 5px;
}

.appointmentSubmitBtn:hover {
    background-color: #F9F9F9;
    color: #660099;
}